ul {
	list-style: none;
}

a , p , h2 , h3{
	text-decoration: none;
	font-family: Poppins;
}

button {
	cursor: pointer;
	border: none;
	background: none;
}

img:hover {
	opacity: 0.6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Header style */
.header img{
	width: 200px;
	border-radius: 20px;
	transition: 0.3s ease;
	padding: 5px;
}

.header {
	display: flex;
	padding: 10px 40px;
	align-items: center;
	justify-content: space-between;
	background-color: #840c0e;
}

.header .header-menu {
	display: flex;
	gap: 50px;
}

.header .header-menu .header-link {
	color: white;
	font-size: 18px;
	transition: 0.3s ease;
}

.header .header-menu .header-link:hover {
	color: #ffffff;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 50px;
	padding: 10px;
}

/* About Section */
.about-section {
    background-color: #fff7f0;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #c49a6c;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-text h2 {
    font-size: 28px;
    color: #840c0e;
    position: relative;
    margin-bottom: 15px;
}

.about-text h2 :after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f4a460;
    margin-top: 5px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.7;
    color: #4b2e1f;
    margin-bottom: 15px;
}

/*Members Section*/
.members-section {
    background-color: #fff7f0;
    text-align: center;
    padding: 100px 20px;
}

.members-section h2 {
    color: #840c0e;
    font-size: 28px;
    margin-bottom: 40px;
}

.members-section h2 :after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f4a460;
    margin: 10px auto;
    border-radius: 2px;
}

.members-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.members-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    max-width: 280px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
    transition: transform 0.35 ease;
}

.members-card:hover {
    transform: translateY(-10px);
}

.members-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #c49a6c
    margin-bottom 20px;
}

.members-card h3 {
    font-size: 18px;
    color: #3a2c23;
    margin-bottom: 20px;

}

.members-card p {
    font-size: 15px;
    color: #4b2e1f;
    line-height: 1.5;
    max-width: 240px;
    margin: 0 auto;
}

.members-container {
    display: flexbox;
    justify-items: center;
    gap: 40px;
}