ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-family: Poppins, sans-serif;
}

button {
	cursor: pointer;
	border: none;
	background: none;
}

img:hover {
	opacity: 0.6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Header style */
.header img{
	width: 200px;
	border-radius: 20px;
	transition: 0.3s ease;
	padding: 5px;
}

.header {
	display: flex;
	padding: 10px 40px;
	align-items: center;
	justify-content: space-between;
	background-color: #840c0e;
}

.header .header-menu {
	display: flex;
	gap: 50px;
}

.header .header-menu .header-link {
	color: white;
	font-size: 18px;
	transition: 0.3s ease;
}

.header .header-menu .header-link:hover {
	color: #ffffff;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 50px;
	padding: 10px;
}

/* Main content */
.quote {
	width: 100%;
	text-align: center;
	font-family: thocant;
	color: black;
	margin: -50px;
	display: block;
}

.product img {
	width: 200px;
	border-radius: 20px;
	transition: 0.3s ease;
	border: 5px solid #c49a6c;
	padding: 5px;
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 40px;
	margin-top: 200px;
	transform: scale(1.4);
}



.product {
	text-align: center;
	margin-top: -20px;
}

.product-label {
	font-family: Poppins, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #840c0e;
	margin-bottom: 10px;
}

.feedback {
	height: 110px;
	width: 500px;
	padding: 20px;
	background-color: #840c0e;
	position: relative;
	top: 200px;
	margin-bottom: 20px auto;
	margin: 20px auto;
	border-radius: 20px;
	text-align: center;
	font-family: poppins;
	color: white;
}

	
.feedback input {
	width: 80%;
	padding: 8px;
	margin-top: 10px;
	border: 1px solid #a3494a;
	border-radius: 5px;
	
	font-family: poppins;
}

.feedback button {
	margin-top: 10px;
	padding: 8px 16px;
	background-color: rgba(255, 255, 255, 0.6);
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-family: poppins;
}

.feedback button:hover {
	color: #ffffff;
	background: rgba(255, 255, 255, 0.25);
}

.thank-you-success {
    background-color: #840c0e;
    color: white;
    font-family: Poppins, sans-serif;
    width: 500px; 
    border-radius: 20px;
    padding: 30px 20px;
}

.thank-you-success h2 {
    color: white;
}